<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="section-1">
        <h1>Palestras</h1>
        <h2>Python Brasil</h2>
    </div>

    <div class="botao">
        <a href="">
            <button>Listas de Palestras</button>
        </a>
        <a href="/criar_palestra">
            <button>Adicionar Palestras</button>
        </a>
    </div>
</body>
</html>